<!doctype html>
<html lang="en">
	<head>
		<%- include('./partials/head')  %> 
	</head>
	<body class="overview-page page">

		<%- include('./partials/header')  %> 

		<div class="container-fluid" id="body">
			<div class="container">
				<%- include('./partials/navigation')  %> 
                <% for (const post in posts){ %>
                    <a href="/post/<%= posts[post]._id %>">
					<div class="row blog-teaser">
						<% if(posts[post].picture) {%> 
						<div class="col-md-8">
						<% } else { %> 
						<div class="col-md-12">
						<% } %>
							<h2 class="blog-hl"><%=posts[post].header%></h2>
							<p>
								<% if(posts[post].text.length > 350) { %>
									<%= posts[post].text.substr(0, 350) + '...' %> 
								<% } else { %>
									<%= posts[post].text %>  
								<% } %> 
							</p>
						</div>
						<% if(posts[post].picture) {%> 
							<div class="col-md-4">
								<img class="blog-img" src="/uploads/post/<%= posts[post].picture %> ">
							</div>
						<% } %> 
					</div>
                </a>
                <% } %>
			</div>
		</div>
	</body>
</html>
	