<!doctype html>
<html lang="en">
	<head>
		<%- include('./partials/head')  %> 
	</head>
	<body class="overview-page page">

		<%- include('./partials/header')  %> 

		<div class="container-fluid" id="body">
			<div class="container">
				<%- include('./partials/navigation')  %> 
				<p><%= results.length %> results for: "<%= term %>" </p>
				<% for (var result in results){ %>
                    <a href="/post/<%= result._id %>"  target="_blank">
					<div class="row blog-teaser">
						<% if(results[result].item.picture) {%> 
						<div class="col-md-8">
						<% } else { %> 
						<div class="col-md-12">
						<% } %>
							<h2 class="blog-hl"><%=results[result].item.header%></h2>
							<p>
								<%=results[result].item.text%>
							</p>
						</div>
						<% if(results[result].item.picture) {%> 
							<div class="col-md-4">
								<img class="blog-img" src="/uploads/post/<%= results[result].item.picture %> ">
							</div>
						<% } %> 
					</div>
                </a>
                <% } %>
			</div>
		</div>
	</body>
</html>
	