<!doctype html>
<html lang="en">
	<head>
		<%- include('./partials/head')  %> 
	</head>
	<body class="single-page page">	
		<%- include('./partials/header')  %> 	
		<div class="container-fluid" id="body">
			<div class="container">
				<%- include('./partials/navigation')  %> 
				<div class="row blog-teaser">
					<div class="col-12">
						<% if(user._id.equals(post.userId)) { %> 
							<a class="custom-link pr-3" href="/post/<%= post._id %>/editPost">>Edit Post</a>
							<a class="custom-link" href="javascript: deletePost()">>Delete Post</a>
						<% } %> 
					</div>
					<div class="col-12">
						<h2 class="blog-hl"><%= post.header %></h2>
					</div>
					<div class="col-12">
						<a href="/users/<%= post.userId %>">Author: <%= post.username %></a>
					</div>
					<div class="col-12">
						<p><%= post.timestamp.toLocaleDateString("en-US") %></p>
					</div>
					<div class="col-md-12">
						<% if(post.picture){ %>
							<img class="blog-img blog-img-inline p-0" src="/uploads/post/<%= post.picture %>"> 
						<% } %> 
						<p>
							<%= post.text %>
						</p>
						<p id="likeCount"></p>
						<button id="likeButton" class="btn btn-custom" onclick="changeLikeStatus()"></button>
					</div>
				</div>	
				<div class="row blog-teaser">
					<h2 class="col-12 col-lg-3 col-xl-2">Comments</h2>
					<form class="col-12 col-lg-9 col-xl-19" id="commentForm" method="POST" action="/post/<%= post.id %>/comment/writeComment ">
						<textarea class="form-control my-2" name="comment">Enter comment</textarea>
						<button id="commentSubmit" class="btn btn-custom my-2">Submit</button>	
					</form>
				</div>
				<% for (const comment in comments){ %>
					<div class="row blog-teaser">
						<div class="col-12 my-2">
							<a class="my-2 custom-link" href="/users/<%= comments[comment].userId %>"><img class="profile-img" src= "/uploads/user/<%= comments[comment].userId %>.jpg" onerror="this.onerror = null; this.src = '/uploads/user/default.jpg'"><span class="pl-1"><%= comments[comment].username %></span></a>
							<span class="my-2">commented:</span>
						</div>
						<p class="col-12 mx-5"><%= comments[comment].comment %></p>
					</div>
				<% } %>
			</div>
		</div>
		<script>
		
			$(document).ready(function(){
				getLikeCount()
				getLikeStatus()
			})

			function getLikeStatus(){
				var pathname = window.location.pathname
				var reg = /\/post\/.{24}/
				var url = pathname.match(reg)[0] + '/likeStatus'

				$.get(url, function(data){
					console.log('like status', data.likeStatus)
					if(data.error){
						console.log(data.error.message)
					} else if(data.likeStatus){
						$('#likeButton').text('Remove Like')
					}else{
						$('#likeButton').text('Like')
					}
				})
			}

			function getLikeCount(){
				var pathname = window.location.pathname
				var reg = /\/post\/.{24}/
				var url = pathname.match(reg)[0] + '/likes'		

				$.get(url, function(data){
					console.log('like count', data.postLikes)
					if(data.error){
						$('#likeCount').text(data.error.message)
					} else{
						$('#likeCount').text(data.postLikes + ((data.postLikes == 1) ? ' like' : ' likes'))
					}
				})
			}

			function changeLikeStatus(){
				var pathname = window.location.pathname
				var reg = /\/post\/.{24}/
				var url = pathname.match(reg)[0] + '/like'
				$.post(url, function(data){
					if(data.error){
						console.log(data.message)
					}
					getLikeCount()
					getLikeStatus()
				})
			}

			function deletePost(){
				if(confirm('Do you really want to delete this post?')){
					var pathname = window.location.pathname
					var reg = /\/post\/.{24}/
					var url = pathname.match(reg)[0] + '/deletePost'
					console.log(url)
					$.get(url, function(data){
						if(data.error) {
							console.log(data.error.message)
						}else{
							console.log(data.message)
							window.location.replace('/user/myPosts')
						}
					})
				}
			}
		</script>
	</body>
</html>
	